@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.custom-cursor {
  border: 2px solid #121212;
  border-radius: 100%;
  position: fixed;
  transform: translate(-50%, -50%);
  background: linear-gradient(180deg, #8E54E9 0%, #E29587 100%);
  filter: blur(150px);
  width: 469px;
  height: 469px;
  z-index: -2;
}

 /* Text sphere */
.text-shpere {
    position: relative;
    top: 0;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tagcloud {
    display: inline-block;
    top: 0;
    left: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: 1.25px;
    font-size: 16px;
}

/* Change color of each text in sphere on hover   */
.tagcloud--item {
    background: linear-gradient(90deg, #8E54E9 0%, #E29587 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: capitalize;
}

.tagcloud--item:hover {
}