.project-card img {
  transition: 250ms ease;
  width: 325px;
  height: 170px;
}

.project-card span {
  position: relative;
  top: 50px;
  left: -4px;
  transition: 250ms ease;
}

.project-card p,
.project-card p > span {
  top: 50px;
  left: 0px;
  transition: 250ms ease;
}


.project-card:hover img {
  transform: scale(0.65);
  top: -32px;
  transition: 250ms ease;
  padding: 0;
}

.project-card:hover span {
  top: -50px;
}

.project-card:hover p > span {
  top: -20px;
  transition: 250ms ease;
}

@media screen and (max-width: 768px) {
  .project-card img {
    transform: scale(0.72);
    top: -25px;
    transition: 250ms ease;
    padding: 0;
  }
  
  .project-card span {
    position: relative;
    top: -40px;
    left: -4px;
    transition: 250ms ease;
  }
  
  .project-card p {
    top: -40px;
    left: 0px;
    transition: 250ms ease;
  }

  .project-card p > span {
    top: 0px;
    left: 0px;
    transition: 250ms ease;
  }
  
  
  .project-card:hover img {
    transform: scale(0.72);
    top: -25px;
    transition: 250ms ease;
    padding: 0;
  }
  
  .project-card:hover span {
    top: -40px;
  }
  
  .project-card:hover p > span {
    top: -40px;
    transition: 250ms ease;
  }
}